USE [new_gal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[UP_CLEAR_PRICE_BEFORE_INSERT]
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION 
		-- Очистить табл.прайс-листов в БД POS-терминалов
		DELETE FROM [DBO].[PRICES];
		IF @@TRANCOUNT > 0 COMMIT TRANSACTION 
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	END CATCH
END